<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification code</title>
    <style>
        body {
            height: 100vh;
            width: 100vw;
            background-color: #F6F8FA;
        }

        div {
            border: 1px solid #E9E9E9;
            width: 500px;
            margin: 0 auto;
            padding: 10px 30px;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome to Notebook</h1>
        <p>{code}</p>
    </div>
</body>

</html>