<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
        rel="stylesheet">
    <title>Email Verification code</title>
    <style>
        body {
            background-color: #F6F6F6;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Inter', sans-serif;
            color: #192227
        }

        div {
            border: 1px solid #E9E9E9;
            width: 500px;
            height: 300px;
            text-align: center;
            padding: 10px 30px;
            background-color: white;
        }

        .code {
            font-weight: 800;
            font-size: 30px;
        }

        .username {
            font-weight: 800;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome to Developer Workshop</h1>
        <p>Hello <span class="username">{{username}}</span>, here's your
            verification code:</p>
        <p class="code">{{code}}</p>
    </div>
</body>

</html>